<div class="box__input">
  <input class="box__file" type="file" name="datafile" id="file" />
   <div class="box__controls">
      <img src="/assets/upload.svg" />
      {{#if noFileSelected}}
        <label for="file">
            <strong>Choose a file</strong>
        </label>
      {{/if}}
      {{#if hasFileSelected}}
        <span>File selected: {{selectedFile.name}}</span>
        <button class="box__button" type="submit">Begin upload</button>
     {{/if}}
     {{#if isUploading}}
        <span>Uploading {{selectedFile.name}}</span>
     {{/if}}
     {{#if isSuccessful}}
        <span>Uploaded {{selectedFile.name}}</span>
     {{/if}}
     {{#if error}}
      <span>An error occured {{error}}</span>
     {{/if}}
   </div>
 </div>
