<div class="box__input">
   <div class="box__controls">
     <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
     <button class="box__button" type="submit">Upload</button>
   </div>
  <input class="box__file" type="file" name="datafile" id="file" />
 </div>
 {{yield this}}
