.bulk-uploader {
  font-family: helvetica, arial, sans-serif;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction:row;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  height: 20rem;

  &.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;

    &.is-dragover {
      background-color: #dfc8ca;
    }

    .box__controls {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;

      img{
        height: 3rem;
      }

      label {
        font-size: 2rem;
        margin-bottom: .5rem;
        cursor: pointer;
        &:hover {
          color: #d3394c;
        }
      }

      button {
        margin-top: .5rem;
        display: inline-block;
        text-align: center;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0;
        padding: 0.85em 1em;
        margin: 0 0 1rem 0;
        font-size: 0.9rem;
        background-color: #d3394c;
        color: #fefefe;
      }
    }
    input[type="file"] {
      visibility: hidden;
    }
  }

}
