<h2 id="title">Welcome to Ember</h2>

{{#bulk-uploader action='http://localhost:5000/api/data' as |status|}}
  <ul>
    {{#each files as |file|}}
      <li>{{file}}</li>
    {{/each}}
  </ul>
  {{#if status.isUploading}}
    <div class="box__uploading">Uploading&hellip;</div>
  {{/if}}
  {{#if status.isError}}
    <div class="box__error">Error! <span></span>.</div>
  {{/if}}
  {{#if status.isSuccess}}
    <div class="box__success">Done!</div>
  {{/if}}
{{/bulk-uploader}}
